@font-face {
  font-family: FontR;
  src: url(/fonts/MaisonNeue-Book.woff);
}


@font-face {
  font-family: FontB;
  src: url(/fonts/MaisonNeue-Bold.woff);
}

@font-face {
  font-family: FontEB;
  src: url(/fonts/FuturaLT-ExtraBold.ttf);
}

