
@media only screen and (max-width: 1000px) {
    .resp_btn {
        display: block;
    }
    .menu_list {
        display: block;
        margin-right: unset;
    }
    .navbar-collapse {
        display: none;
    }
    .menu_list .menu_a {
        display: -webkit-box;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .menu_list .menu_a:last-child {
        margin-bottom: 15px;
    }
    .menu_list .sirket {
        margin-left: 0px;
    }
    .sirket {
        margin-left: 0;
    }
    .show {
        display: block!important;
    }
    .find_job_landing {
        display: block;
        justify-items: flex-end;
        width: 100%;
    }
    .find_job_landing .aciklama {
        width: 100%!important;
        text-align: center;
    }
    .find_job_landing .aciklama p {
        width: 100%;
    }
    .find_job_landing .aciklama_image img {
        display: none;
    }
    .footer {
        display: block;
        text-align: center;
        align-self: center;
    }
    .footer .logo_text {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    .bolge_area {
        display: none!important;
    }
    .search_area {
        width: 100%;
    }
    .filter_src {
        margin-bottom: 18px;
    }
    .sehir_response {
        display: block!important;
    }
    .flex {
        display: block;
    }
    .update {
        width: 100%;
        margin-right: 0px;
    }
    .added {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    .is_detay {
        margin-top: 0px;
        margin-bottom: 28px;
    }
    .nitelikler:last-child { margin-bottom: 0px;}
}







